@font-face {
  font-family: 'poppins';
  src: url('fonts/poppins/poppins-regular-webfont.woff2') format('woff2'),
       url('fonts/poppins/poppins-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'poppins';
  src: url('fonts/poppins/poppins-bold-webfont.woff2') format('woff2'),
       url('fonts/poppins/poppins-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'libreBaskerville';
  src: url('fonts/libreBaskerville/librebaskerville-regular-webfont.woff2') format('woff2'),
       url('fonts/libreBaskerville/librebaskerville-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'libreBaskerville';
  src: url('fonts/libreBaskerville/librebaskerville-bold-webfont.woff2') format('woff2'),
       url('fonts/libreBaskerville/librebaskerville-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

:root {
  --color-primary: #f49884;
  --color-secondary: #fce48c;
  --color-accent: #fcc484;
  --color-decoration: #f48984;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px
}



*, *::after, *::before {
  box-sizing: border-box;
}

/* Basic CSS rules */
html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  margin: 0;
}

h1, h2, h3 {
  color: var(--color-headings);
  line-height: 1.1;
  margin-bottom: 1rem;
}

h1 {
  font-family: "libreBaskerville", Arial, Helvetica, sans-serif;
  font-size: 7rem;
}

h1 span {
  display: inline-block;
  font-family: "libreBaskerville", Arial, Helvetica, sans-serif;
}

h1 span::first-letter {
  color: var(--color-decoration);

}

h1 span:hover:first-letter {
  color: var(--color-accent);
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  margin-block-end: 3em;
  margin-block-start: 1em;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-top: 0;
}

.abouth1 {
  text-align: center;
}

.aboutp {
  text-align: center;
}

.aboutdiv {
  text-align: center;
}

.dbMessage {
  color: black;
}

/* Basic CSS rules for bigger screens */
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Badges */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

/* Badges for bigger screens */
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Buttons */
.btn {
  background:conic-gradient(from 11.1416rad at 38% 48%, #e6e9bf, #d2b5aa, #cbaea3, #d4b5ab,
  #e6e9bf, #d2b5aa, #cbaea3, #d4b5ab,
  #e6e9bf, #d2b5aa, #cbaea3, #d4b5ab,
  #e6e9bf, #d2b5aa, #cbaea3, #d4b5ab);
  border-radius: 15px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 5rem;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--primary {
  background: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background: lightgreen;
}

.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background: lightblue;
}

.btn--accent {
  background: var(--color-decoration);
  color: #fff;
}

.btn--accent:hover {
  background: var(--color-accent);
}

/* Buttons that will fill their container */
.btn--block {
  background-image: linear-gradient(to right, #DE6262 0%, #FFB88C  51%, #DE6262  100%)k;
  display: inline-block;
  width: 75%;
}

/* Buttons for bigger screens */
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

.btn--outline {
  background: #fff;
  border: 2px solid var(--color-headings);
  color: var(--color-headings);
  width: 175px;
}

.btn--outline:hover {
  background: var(--color-headings);
  color: #fff;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

/* Modal */
.btn--outline:hover span {
  display: none;
}

.btn--outline:hover:before {
  content:"Subscribe";
}

.content {
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

button {
  background-color: var(--color-primary);
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  padding: .5rem 2rem;
  transition: all .3s ease;
}
button:hover {
  background-color: var(--color-secondary);
}

div input {
  padding: .5rem;
  width: 100%;
}

div button {
  background-color: var(--color-secondary);
  border: none;
  color: #fff;
  cursor: pointer;
  padding: .5rem;
  transition: all .3s ease;
  width: 100%;
}

div button:hover {
  background-color: var(--color-accent);
}

.submitBtn {
  background-color: var(--color-decoration);
}

.closeBtn {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

#modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__window {
  background-color: transparent;
  padding: 4em 2em;
  position: relative;
  width: fit-content;
}

.modal__cl {
  color: hotpink;
  position: absolute;
  right: 0;
  top: -30px;
}

#modal:not(:target) {
  opacity: 0;
  visibility: hidden;
}

.thanksText {
  color: white;
  min-width: 500px;
}

.subscribeBtn {
  display: flex;
}

/* Links */
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.link-arrow::after {
  content: '\1F862';
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

.link__logo {
  max-width: 300px;
  width: 100%;
}

/* Links for bigger screens */
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Lists */
.list {
  color: var(--color-headings);
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  scroll-margin-bottom: 1rem;
}

/* Lists for bigger screens */
@media screen and (min-width: 1024 px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: white;
}


.icon--buy {
  background: lightgrey;
  margin-left: 5px;
  max-height: 50px;
  width: 50px;
}

/* Inputs */
.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}

::placeholder {
  color: #cdcbd7;
}

.input-group {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  display: flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1rem;
}

.input-group .btn {
  margin: 4px;
}

/* Inputs for bigger screens */
@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

.icon-container {
  align-items: center;
	background:conic-gradient(from 11.1416rad at 38% 48%, #d95641, #b14439, #b2453a, #d25645, 
								#d95641, #b14439, #b2453a, #d25645,
								#d95641, #b14439, #b2453a, #d25645,
								#d95641, #b14439, #b2453a, #d25645);  border-radius: 100%;
  display: inline-flex;
  height: 64px;
  justify-content: center;
  width: 64px;
}

/* Cards */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header, .card__body {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
}

.card--primary .card__header {
	background:conic-gradient(#edc800, #e3b600, #f3cf00, #ffe800,
								#edc800, #e3b600, #f3cf00, #ffe800,
								#edc800, #e3b600, #f3cf00, #ffe800,
								#edc800, #e3b600, #f3cf00, #ffe800);  
  color: #fff;
}

.card--secondary .card__header {
  background: var(--color-primary);
  color: #fff;
}

.card--primary .badge--primary {
  background: #126de4
}

.card--secondary .badge--secondary {
  background: #02cdf1;
}

/* Plans */
.plan {
  transition: transform .3s ease-out;  
}

.plan__name {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
  margin: 0;
}

.plan__price {
  font-size: 5rem;
}

.plan__billing-cycle {
  font-size: 2rem;
  font-weight: 300;
  margin-right: 1rem;
  opacity: 0.8;
}

.plan__description {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.plan .list__item {
  margin-bottom: 2rem;
}

.plan--popular {
  transform: scale(1.1);
}

.plan--popular .card__header {
  position: relative;
}


.plan:hover {
  transform: scale(1.05);
}

.plan--popular:hover {
  transform: scale(1.15);
}

.plan--image {
  max-width: 350px;
}

/* Plans for bigger screens */
@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}

/* Plans Block */
.block-plans .grid {
  gap: 8rem 4rem;
}

.block-plans .card {
  max-width: 500px;
  margin: 20px 50px;
}

/* Media */
.media {
  display: flex;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 1rem;
}

/* Quotes */
.quote {
  color: var(--color-body-darker);
  font-size: 3rem;
  font-style: italic;
  line-height: 1.3;
}

.quote__text {
  color: var(--color-decoration);
  margin-top: 3rem;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 0;
}

.quote__organization {
  color: var(--color-headings);
  font-size: 2rem;
  font-style: normal;
  opacity: .4;
}

.quote__line {
  bottom: 10px;
  position: relative;
}

/*Quotes for bigger screens */
@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote__author {
    font-size: 2.4rem;
  }

  .quote__organization {
    font-size: 1.6rem;
  }
}

/* Grids */
.grid {
  display: grid;
}

/* Grids for bigger screens -- tablets */
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .grid--2x1 {
    grid-template-rows: 1fr 5fr;
  }
}

/* Grids for big screens */
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Testimonials */
.testimonial {
  height: 50rem;
  padding: 3rem;
}

.testimonial__image {
  position: relative;
}

.testimonial__image > img {
  width: 75%;
}

.testimonial__image > .icon-container {
  position: absolute;
  right: -32px;
  top: 3rem;
}

@media screen and (min-width: 768px) {
  .testimonal .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }
}

.testimonial .quote {
  margin-left: 6rem;
}

/* Callouts */
.callout {
  padding: 4rem;
  border-radius: 5px;
}

.callout--primary {
  background: var(--color-primary);
  color: #fff;
}

.callout__heading {
  color: #fff;
  font-size: 3rem;
  margin-top: 0;
}

.callout .btn {
  align-self: center;
  justify-self: center;
}

.callout__content {
  text-align: center;
}

@media screen and (min-width: 768px) {

  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }

  .callout__content {
     text-align: left;
  }
}

.callout .btn {
  justify-self: start;
  margin: 0 2rem;
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  font-size: 3rem;
  margin-top: 0;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Blocks */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  margin-bottom: 2rem;
  text-align: center;
}

.block__header button {
  margin: 0;
}

.block__text  {
  color: var(--color-body);
  margin-block-end: 0;
}

.block__h1 {
  margin-bottom: 5rem;
  margin-top: 0;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--light {
	background:conic-gradient(from 11.1416rad at 38% 48%, #d95641, #b14439, #b2453a, #d25645, 
								#d95641, #b14439, #b2453a, #d25645,
								#d95641, #b14439, #b2453a, #d25645,
								#d95641, #b14439, #b2453a, #d25645);  color: #7b858b;
}

.block--dark h1, .block--dark h2, .block--dark h3 {
  color: #fff;
}

.block--skewed-right{
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 70%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.block--skewed-left{
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

/* Navigation Bar */
.nav {
	background:conic-gradient(from 11.1416rad at 38% 48%, #d95641, #b14439, #b2453a, #d25645, 
								#d95641, #b14439, #b2453a, #d25645,
								#d95641, #b14439, #b2453a, #d25645,
								#d95641, #b14439, #b2453a, #d25645);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
}

.nav__list {
  margin: 0;
  width: 100%;
}

.nav__item {
  border-bottom: 1px solid #222;
  padding: 0.5rem 2rem;
}

.nav__item:last-of-type {
  border-bottom: none;
}

.nav__item>a {
  color: black;
  font-weight: 600;
  transition: color 0.3s;
}

.nav__item>a:hover {
  color: #fcc484;
}

.nav__item.active {
	background:conic-gradient(#edc800, #e3b600, #f3cf00, #ffe800,
								#edc800, #e3b600, #f3cf00, #ffe800,
								#edc800, #e3b600, #f3cf00, #ffe800,
								#edc800, #e3b600, #f3cf00, #ffe800);
  border-radius: 7px;
}

.nav__toggler {
  cursor: pointer;
  opacity: 0.5;
  transition: box-shadow 0.15s;
}

.nav.collapsible--expanded .nav__toggler {
  border-radius: 5px;
  box-shadow: 0 0 0 3px #666;
  opacity: 1;
  
}

.nav__brand {
  padding-left: 50px;
  transform: translateY(5px);
  width: auto;
  
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }
  .nav__list {
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
    width: auto;
  }
  .nav__item {
    border: 0;
  }
}

/* Hero */
.hero {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);

}

.hero__tagline {
  color: #b9c3cf;
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.hero__image {
  width: 100%;
}
 
/* Hero for bigger screens */
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }
  .hero__content {
    text-align: center;
    align-self: center;
  }
}

/* Footer */
.footer {
  background: #000;
}

.footer a {
  color: #777;
  transition: color 0.3s;
}

.footer a:hover {
  color: #fff;
}

.footer__section {
  border-bottom: 1px solid #393939;
  padding: 2rem;
}

.footer__section .list {
  margin: 0;
}

.footer__heading {
  font-weight: 600;
  text-transform: uppercase;
}

.footer__brand {
  margin-top: 5rem;
  text-align: center;
}

.footer__brand img {
  max-width: 500px;
  width: 100%;
}

.footer__copyright {
  color: #fff;
  font-size: 2.1rem;
  opacity: 0.3;
}

/* Footer for bigger screens */
@media screen and (min-width: 768px) {
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

.footer .collapsible__chevron {
  display: none;
}

.footer .collapsible__content {
  max-height: 100%;
  opacity: 1;
}

.footer__brand {
  margin-top: 1rem;
  order: -1;
}

.footer__copyright {
  font-size: 1.5rem;
}

.footer__section {
  border: 0;
}

.footer__heading {
  font-size: 1.6rem;
}

/* Ribbon */
.ribbon {
  height: 150px;
  overflow: hidden;
  position: absolute;
  width: 150px;
}
.ribbon::before,
.ribbon::after {
  border: 5px solid #2980b9;
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
}
.ribbon span {
  background:conic-gradient(from 11.1416rad at 38% 48%, #d95641, #b14439, #b2453a, #d25645, 
                          #d95641, #b14439, #b2453a, #d25645,
                          #d95641, #b14439, #b2453a, #d25645,
                          #d95641, #b14439, #b2453a, #d25645);
  display: block;
  padding: 15px 0;
  position: absolute;
  width: 225px;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
}	

/* top right*/
.ribbon-top-right {
  right: -10px;
  top: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-right-color: transparent;
  border-top-color: transparent;
}
.ribbon-top-right::before {
  left: 0;
  top: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}


/* Container */
.container {
  align-items: center;
  background-color: khaki;
  border: 3px solid lightgrey;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  height: auto;
  justify-content: center;
  justify-items: center;
}

/* Product */
.product {
  margin: 10px;
  text-align: center;
}

.product:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.product--buy {
  display: inline-flex;
  }

.product--buy-price {
  align-self: center;
  margin-block-end: 0px;
}

.privacyAndTerms {
  color: #64656A !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
}

.privacyAndTerms a {
  margin-left: 50px;
}

.bg-icons8-facebook-50
{
background:url('../images/socialMediaSprite.png') 0px -0px;
display:inline-block;
width:50px;height:50px;
}

.bg-icons8-instagram-50
{
background:url('../images/socialMediaSprite.png') -50px -0px;
display:inline-block;
width:50px;height:50px;
}

.bg-icons8-reddit-50
{
background:url('../images/socialMediaSprite.png') -100px -0px;
display:inline-block;
width:50px;height:50px;
}

.bg-icons8-twitter-50
{
background:url('../images/socialMediaSprite.png') -150px -0px;
display:inline-block;
width:50px;height:50px;
}

.socialMedia {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.socialMediaIcon:hover {
  transform: scale(1.5);
}

/* Emoji password */
.main-box {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 20%;
}

.box {
  border-radius: 10px;
  border: 1px solid #ddd;
}

.box:focus,*:hover{
  outline:none;
}

.form__input {
  border: none;
}

.pwd-box {
  align-items: center;
  border-radius: 10px;      
  border: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  height: 27px;
  justify-content: baseline;
  margin: auto;
  width: 100%;
}

#icon {
  align-self: baseline;
  margin-right: 20px;
}

#icon + #icon::after {
  content: '\1F63B';
}

#icon:invalid + #icon::after {
  content: '\1F431';
}

.form__input + #icon::after {
  content: '\1F63B';
}

.form__input:invalid + #icon::after {
  content: '\1F431';
}

.sign-up {
  display: flex;
  margin-bottom: 50px;
}

.form--button {
  margin: 0;
  margin-top: 2rem;
}

/* Show password */
.pwd-show {
  display: flex;
  flex-direction: row;
}

.check {
  align-self: center;
  width: 20%;
}

.pwd-show-text {
  color: #ccc;
  font-size: 75%;
  width: auto;
}

/* Contact Page */
.contact-in {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #666;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin-bottom: 25px;
  margin-top: 25px;
  margin: auto;
  padding: 10px;
  width: 60%;
}

.contact-map {
  flex: 50%;
  height: auto;
  width: 100%;
}

.contact-map iframe {
  height: 100%;
  width: 100%;
}

.contact-form {
  flex: 50%;
  height: auto;
  padding: 30px;
  text-align: center;
  width: 100%;
}

.contact-form h1 {
  margin-bottom: 10px;
}

.contact-form-txt {
  border-radius: 50px;
  border: 1px solid #bcbcbc;
  color: #000;
  height: 40px;
  outline: none;
  padding: 15px;
  width: 100%;
}

.contact-form-txt::placeholder {
  color: #aaa;
}

.contact-form-txtarea {
  border-radius: 10px;
  border: 1px solid #bcbcbc;
  color: #000;
  height: 130px;
  margin-bottom: 20px;
  margin-top: 20px;
  outline: none;
  padding: 15px;
  width: 100%;
}

.contact-form-txtarea::placeholder {
  color: #aaa;
}

.contact-form-btn {
  border: none;
  color: mediumblue;
  margin: 0;
  outline: none;
  width: 75%;
}

/* Table stuff */
.buy-button {
  margin-bottom: 3rem;
  margin: 0;
}

.shop {
  display: flex;
  width: 90vw;
  margin: auto;
  margin-top: 100px;
  column-gap: 3%  ;
  }

.myTable {
  width: 75%;
}

td {
  text-align: center;
}

tr {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

tbody {
  column-gap: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-item {
  border-bottom: 1px solid rgb(85, 26, 139);
  padding-bottom: 5rem;
  min-width: 320px;
}

.product-name {
  font-size: 1.2em;
}

.product-image:hover {
  margin-top: 35px;
  transform: scale3d(2.5,1.95,2);
}

.shop-button {
  width: 50%;
}

.shopping-cart-table {
  flex-direction: column;
}

#cart.product-image:hover {
  transform: none;
}

#cart {
  border: none;
  font-size: 1em;
  margin: auto;
  width: 50%;
}

#cart.product-item {
  border-bottom: solid 1px hotpink;
}

#firstrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
}

.shopping-cart-product {
  align-items: center;
  border-bottom: solid 5px hotpink;
  flex-direction: row;
}

#show-cart {
  background:conic-gradient(from 11.1416rad at 38% 48%, #d95641, #b14439, #b2453a, #d25645, 
                          #d95641, #b14439, #b2453a, #d25645,
                          #d95641, #b14439, #b2453a, #d25645,
                          #d95641, #b14439, #b2453a, #d25645); 
  color: white;
  height: fit-content;
  justify-content: center;
  list-style: none;
  margin:0;
  padding: 0;
  text-align: center;
  width: 35%;
}

.purchaseButton {
  background:conic-gradient(from 11.1416rad at 38% 48%, #e6e9bf, #d2b5aa, #cbaea3, #d4b5ab,
  #e6e9bf, #d2b5aa, #cbaea3, #d4b5ab,
  #e6e9bf, #d2b5aa, #cbaea3, #d4b5ab,
  #e6e9bf, #d2b5aa, #cbaea3, #d4b5ab);
  display: block;
  margin:auto;
  margin-bottom: 5rem;
  margin-top: 1rem;
}

.shippingCostLabel {
  display: block;
  margin-bottom: 1rem;

}

.totalItemsLabel {
  background-color: darkred;
  display: block;

}

.totalPriceLabel {
  background-color: darkred;
  display: block;
  margin-bottom: 1rem;

}

.emptyCartBtn {
  background: none!important;
  border: 1px dotted burlywood;
  color: burlywood;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1em;
  width: 30%;
}

.btn-remove {
  margin: auto;
  width: 50%;
}

.img {
  border-radius: 8px;
  height: 125px;
  width: 125px;
}

  .grid-container {
    align-items: center;
    display: grid;
    gap: 0px 0px;
    grid-template-columns: 2fr 5fr 1fr;
    grid-template-rows: 1 fr;
    grid-template-areas:
      "Image DIV X";
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  
  .Image { grid-area: Image; }
  
  .DIV {
    display: grid;
    gap: 0px 0px;
    grid-area: DIV;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "first first first"
      "second second second";
  }
  
.first { 
  grid-area: first; 
}
  
.second { 
  grid-area: second; 
}
  
.X { 
  grid-area: X; 
}