.container {
  background-color: khaki;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
}

.image {
  background-color: green;
  margin: 1rem;
  width: 5rem;
  height: 5rem;
}
